mixin lista_abastecimentos_ev_turno(turno)
    +awsme-panel-primary("Abastecimentos do turno "+ turno.id_turno, "charging-station")
        div.table-responsive
            table.table.table-striped
                thead
                    tr
                        th.small.text-right id
                        th.d-none.d-md-table-cell.small.text-right odómetro
                        th.small.text-right Inicio
                        th.d-none.d-md-table-cell.small.text-right Q ini
                        th.d-none.d-md-table-cell.small.text-right fim
                        th.d-none.d-md-table-cell.small.text-right Q fim
                        th.small.text-right Q total
                        th.d-none.d-md-table-cell.small.text-right T Q
                        th.small.text-right custo 
                        th.small.text-right Kms
                        th.small.text-right €/Km
                        th.small.text-right KWh/Kms
                tbody 
                    each linha in turno.abastecimentos
                        tr.table-row
                            td.small.text-right 
                                a.fa.fa-charging-station.btn.btn-primary.btn-sm.btn-block(href="/Abastecimento/"+turno.id_viatura+"/"+linha.id_abastecimento) &nbsp; #{linha.id_abastecimento}
                            td.d-none.d-sm-table-cell.small.text-right #{linha.odometro}
                            td.small.text-right #{linha.d_ini} #{linha.h_ini}
                            td.small.text-right #{linha.q_ini}
                            td.small.text-right #{linha.d_fim} #{linha.h_fim}
                            td.small.text-right #{linha.q_fim}
                            td.small.text-right #{linha.carga}
                            td.small.text-right #{linha.t_carga}
                            td.small.text-right #{linha.custo}
                            td.small.text-right #{linha.kms_percorridos}
                            td.small.text-right #{linha.custo_km}
                            td.small.text-right #{linha.consumo_km}
                    tr.table-row
                        td.small.text-right &nbsp;
                        td.small.text-right &nbsp;
                        td.small.text-right &nbsp;
                        td.small.text-right &nbsp;
                        td.small.text-right &nbsp;
                        td.small.text-right &nbsp;
                        td.small.text-right &nbsp;
                        td.small.text-right #{turno.tempo_total_q}
                        td.small.text-right #{turno.custo_total}
                        td.small.text-right &nbsp;
                        td.small.text-right &nbsp;
                        td.small.text-right &nbsp;

mixin lista_abastecimentos_mt_turno(turno)
    +awsme-panel-primary("Abastecimentos do turno "+ turno.id_turno, "gas-pump")
        div.table-responsive
            table.table.table-striped
                thead
                    tr
                        th.small.text-right id
                        th.small.text-right dia
                        th.d-none.d-sm-table-cell.small.text-right Odómetro
                        th.small.text-right litros
                        th.small.text-right custo 
                        th.small.text-right Kms
                        th.small.text-right €/Km
                        th.small.text-right L/Kms
                tbody 
                    each linha in turno.abastecimentos
                        tr.table-row
                            td.small.text-right
                                a.fa.fa-gas-pump.btn.btn-primary.btn-sm.btn-block(href="/Abastecimento/"+turno.id_viatura+"/"+linha.id_abastecimento) &nbsp; #{linha.id_abastecimento}
                            td.small.text-right #{linha.dia}
                            td.d-none.d-sm-table-cell.small.text-right #{linha.odometro}
                            td.small.text-right #{linha.litros}
                            td.small.text-right #{linha.custo}
                            td.small.text-right #{linha.kms_percorridos}
                            td.small.text-right #{linha.custo_km}
                            td.small.text-right #{linha.consumo_km}


mixin lista_abastecimentos_mt(titulos, dados)
    .table-responsive
        .table-wrap
            table.table.table-striped.table-hover
                thead 
                    tr 
                        each titulo in titulos 
                            th.text-right #{titulo}
                tbody 
                    each item in dados 
                        tr.table-row
                            td.text-right 
                                a.fa.fa-gas-pump.btn.btn-info.btn-sm.btn-block(href="/Abastecimento/"+item.id_viatura+"/"+item.id_abastecimento) &nbsp;#{item.id_abastecimento}
                            td.text-right
                                a.fa.fa-car.btn.btn-primary.btn-sm.btn-block(href="/Viatura/"+item.id_viatura) &nbsp; #{item.id_viatura}                
                            td.text-right 
                                a.fa.fa-people-arrows.btn.btn-primary.btn-sm.btn-block(href="/Turno/"+item.id_turno) &nbsp; #{item.id_turno}
                            td.text-right #{item.dia}
                            td.text-right #{item.litros}L
                            td.text-right #{item.custo}€

mixin lista_abastecimentos_ev(titulos, dados)
    .table-responsive 
        .table-wrap
            table.table.table-striped.table-hover
                thead 
                    tr 
                        each titulo in titulos 
                            th.text-right #{titulo}
                tbody 
                    each item in dados 
                        tr.table-row
                            td.small.text-right 
                                a.fa.fa-charging-station.btn.btn-info.btn-sm.btn-block(href="/Abastecimento/"+item.id_viatura+"/"+item.id_abastecimento) &nbsp; #{item.id_abastecimento}
                            td.text-right
                                a.fa.fa-car.btn.btn-primary.btn.btn-primary.btn-sm.btn-block(href="/Viatura/"+item.id_viatura) #{item.id_viatura}                
                            td.text-right
                                a.fa.fa-people-arrows.btn.btn-primary.btn-sm.btn-block(href="/Turno/"+item.id_turno) #{item.id_turno}
                            td.small.text-right #{item.d_ini}
                            td.small.text-right #{item.t_carga}m
                            td.small.text-right #{item.carga}
                            td.small.text-right #{item.custo}€

mixin lista_de_abastecimentos_viatura(titulos, viatura, abastecimentos)
    +panel-info("Histórico de abastecimentos da viatura " + viatura.id_viatura)
        if viatura.ev 
            .table-responsive 
                .table-wrap
                    table.table.table-striped.table-hover
                        thead 
                            tr 
                                each titulo in titulos 
                                    th.text-right #{titulo}
                        tbody 
                            each item in abastecimentos 
                                tr.table-row
                                    td.small.text-right 
                                        +a-btn-block(`/Abastecimento/${viatura.id_viatura}/${item.id_abastecimento}`,item.id_abastecimento,"charging-station","info", "xs")
                                    td.small.text-right
                                        +a-btn-block(`/Turno/${item.id_tuno}`,item.id_turno,"people-arrows","primary", "xs")
                                    td.small.text-right #{item.d_ini} #{item.h_ini}
                                    td.small.text-right #{item.t_carga}
                                    td.small.text-right #{item.carga}
                                    td.small.text-right #{item.custo}
        else 
            .table-responsive
                .table-wrap
                    table.table.table-striped.table-hover
                        thead 
                            tr 
                                each titulo in titulos 
                                    th.text-right #{titulo}
                        tbody 
                            each item in abastecimentos 
                                tr.table-row
                                    td.text-right 
                                        +a-btn-block(`/Abastecimento/${viatura.id_viatura}/${item.id_abastecimento}`,item.id_abastecimento,"charging-station","info", "xs")
                                    td.text-right 
                                        +a-btn-block(`/Turno/${item.id_tuno}`,item.id_turno,"people-arrows","primary", "xs")
                                    td.text-right #{item.dia}
                                    td.text-right #{item.litros}
                                    td.text-right #{item.custo}            