mixin teste(dados)
    ul 
        each item in dados 
            li #{item.id} #{item.viatura}

mixin awsme_dropdown(id, nome, label, dados, estado, awsme)
    .form-group 
        label(for=id) #{label}
        .input-group
            .input-group-addon 
                +awsme(awsme)
            if(estado)
                select.form-control(id=id, name=nome)
                    each item in dados 
                        option(value=Object.values(item)[0]) #{Object.values(item)[1]}
            else
                select.form-control(id=id, name=nome, disabled)

mixin ddown_filtros(id, placeholder, label, name, dados)
    div.form-group
        label(for=id) #{label} 
        select.form-control.form-control-sm(id=id, placeholder=placeholder)
            each item in dados 
                option(value=Object.values(item)[0]) #{Object.values(item)[1]}

mixin yadd_dropdown(id, placeholder, label, name, dados)
    .btn-group
        button.btn.btn-secondary.btn-sm.dropdown-toggle(type="button", id="dropdownviaturas", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{placeholder}
            | &nbsp;
            span.caret
        div.dropdown-menu(aria-labelledby="dropdownviaturas")
            for item in dados
                button.dropdown-item(type="button") #{item.viatura}
