mixin par_turno(dados)
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .panel.panel-primary
            .panel-heading
                .panel-title 
                    a.fa.fa-people-arrows(href='/Turno/'+ dados.id_turno) &nbsp; #{dados.id_turno}
            .panel-body
                .row
                    .col-xs-6.col-md-6.col-lg-6
                        .placeholder
                            .text-center
                                a(href='/Condutor/'+ dados.id_condutor)
                                    h5.i.fa.fa-user 
                                    | &nbsp; #{dados.nome_condutor}
                                    img.img-responsive(src=dados.imagem_condutor, alt=dados.nome_condutor)
                    .col-xs-6.col-md-6.col-lg-6
                        .placeholder 
                            .text-center
                                a(href='/Viatura/'+ dados.id_viatura)
                                    h5.i.fa.fa-car
                                    | &nbsp; #{dados.matricula}
                                    img.img-responsive(src=dados.imagem_viatura, alt=dados.matricula)
                .row
                    .col-xs-6.col-md-6.col-lg-6
                        .text-left
                            h6 Início:
                            span.text-muted.small #{dados.h_ini} : #{dados.d_ini}
                    .col-xs-6.col-md-6.col-lg-6
                        .text-left
                            h6 Fim:
                            span.text-muted.small #{dados.h_fim} : #{dados.d_fim} 

mixin card_viatura(dados)
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .panel.panel-primary
            .panel-heading
                h4.panel-title 
                    a.fa.fa-car(href='/Viatura/'+ dados.id_viatura) &nbsp; #{dados.id_viatura}
            .panel-body
                .row.placeholders
                    .col-xs-6.col-md6.col-lg-6
                        .placeholder
                            .text-center 
                                a(href=`/Viatura/${dados.id_viatura}`)
                                    h5 #{dados.matricula}
                                    img.img-responsive(src=dados.imagem_viatura, alt=dados.matricula)
                                    h5 #{dados.descricao_viatura}
                    .col-xs-6.col-md-6.col-lg-6
                        .placeholder 
                            h5 Kms: #{dados.odometro}
                            h5 Manutenções: 
                            if dados.kms_ultima_manutencao != null
                                h6 Última: #{dados.kms_ultima_manutencao} km
                                h6 Em: #{dados.data_ultima_manutencao}
                            else
                                h6 Última: n/d 
                            if dados.kms_proxima_manutencao != null
                                h6 Próxima: #{dados.kms_proxima_manutencao} km
                                h6 Em: #{dados.data_proxima_manutencao} 
                            else
                                h6 Próxima: n/d 
                            +yacheckbox-inline("chk_ev", "Elétrico", "ev", dados.ev, false)
                            +yacheckbox-inline("chk_ativa", "Ativa", "ativa", dados.ativa, false)

mixin card_condutor(dados)
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
        .panel.panel-primary
            .panel-heading 
                h3.panel-title 
                    a.fa.fa-user(href='/Condutor/' + dados.id_condutor ) &nbsp; #{dados.id_condutor} 
            .panel-body
                .row
                    .col.placeholder
                        a(href='/Condutor/'+ dados.id_condutor)
                            .text-center 
                                h4.strong #{dados.nome_condutor}
                                p
                                    img.img-responsive(src=dados.imagem_condutor, alt=dados.nome_condutor)
                                p 
                                    +yacheckbox-inline("chk_condutor_ativo", "Ativo", "ativo", dados.ativo, false)
                                p 
                                p kms feitos: #{dados.kms_feitos}
                .row
                    .col
                        table.table-default(align="center")
                            tr 
                                td.text-left.strong Telefone: 
                                td.text-right #{dados.telefone_condutor}
                            tr
                                td.text-left.strong Email:
                                td.text-right.strong
                                    a(href='mailto:'+dados.email_condutor) #{dados.email_condutor}
                            tr
                                td.text-left.strong NIF:
                                td.text-right #{dados.nif_condutor}
                    
mixin ficha_abastecimento_mt(abastecimento)
    +awsme-panel-primary("Ficha de abastecimento  "+ abastecimento.id_abastecimento, "gas-pump") 
        .row
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                +awsme_input("text", "idturno", "id_turno", "turno", "", abastecimento.id_turno, false, "people-arrows")
        .row
            .col-xs-12.col-sm-12.col-md-7.col-lg-6
                +awsme_input("date", "datedata", "date_data", "dia", "", abastecimento.dia, false, "calendar")             
            .col-xs-12.col-sm-12.col-md-5.col-lg-6
                +awsme_input("time", "timehora", "time_hora", "hora", "", abastecimento.hora, false, "clock")
        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-6
                +awsme_input("text", "odometro", "txt_odometro", "odómetro", "", abastecimento.odometro, false, "tachometer")
 
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "litros", "txt_litros", "quantidade (L)", "", abastecimento.litros, false, "gas-pump")
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "custo", "txt_custo", "custo (€)", "", abastecimento.custo, false, "coins")
            
mixin ficha_abastecimento_ev(abastecimento)
    +awsme-panel-primary("Ficha de abastecimento  "+ abastecimento.id_abastecimento, "charging-station") 
        .row
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "idturno", "txt_idturno", "Turno", "", abastecimento.id_turno, false, "people-arrows")
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "tempo", "txt_tempo", "Tempo Q", "", abastecimento.t_carga, false, "hourglass-full")
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "qtotal", "txt_qtotal", "Q Total (%)", "", abastecimento.carga, false, "battery-full")         
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "custo", "txt_custo", "Custo", "", abastecimento.custo, false, "coins")
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "odometro", "txt_odometro", "Odómetro", "", abastecimento.odometro, false, "tachometer")
        .row
            .col-12.bg-black.bg-primary
                h4.panel-heading.text-center Início do abastecimento
        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-4
                +awsme_input("date", "dini", "date_dini", "dia", "", abastecimento.d_ini, false, "calendar") 
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("time", "hini", "time_hini", "hora", "", abastecimento.h_ini, false, "clock") 
            .col-xs-12.col-sm-12.col-md-3.col-lg-4
                +awsme_input("text", "txtqini", "txt_qini", "Q (%) ", "", abastecimento.q_ini, false, "bolt")
        .row
            .col-12.bg-primary
                    h4.panel-heading.text-center Fim do abastecimento
        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-4
                +awsme_input("date", "dfim", "date_dfim", "dia", "", abastecimento.d_fim, false, "calendar") 
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("time", "hfim", "time_hfim", "hora", "", abastecimento.h_fim, false, "clock") 
            .col-xs-12.col-sm-12.col-md-3.col-lg-4
                +awsme_input("text", "qfim", "txt_qfim", "Q (%)", "", abastecimento.q_fim, false, "bolt")

mixin ficha_abastecimento_mt_u(abastecimento)
    +awsme-panel-danger("Ficha de abastecimento  "+ abastecimento.id_abastecimento, "gas-pump") 
        .row
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                +awsme_input("text", "idturno", "id_turno", "turno", "", abastecimento.id_turno, false, "people-arrows")
        .row
            .col-xs-12.col-sm-12.col-md-7.col-lg-6
                +awsme_input("date", "datedata", "date_data", "dia", "", abastecimento.dia, true, "calendar")             
            .col-xs-12.col-sm-12.col-md-5.col-lg-6
                +awsme_input("time", "timehora", "time_hora", "hora", "", abastecimento.hora, true, "clock")
        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-6
                +awsme_input("text", "odometro", "txt_odometro", "odómetro", "", abastecimento.odometro, true, "tachometer")
 
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "litros", "txt_litros", "quantidade (L)", "", abastecimento.litros, true, "gas-pump")
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "custo", "txt_custo", "custo (€)", "", abastecimento.custo, true, "coins")

mixin ficha_abastecimento_ev_u(abastecimento)
    +awsme-panel-danger("Ficha id "+ abastecimento.id_abastecimento, "charging-station") 
        .row
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "idturno", "txt_idturno", "Turno", "", abastecimento.id_turno, false, "people-arrows")
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "tempo", "txt_tempo", "Tempo Q", "", abastecimento.t_carga, false, "hourglass-full")
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "qtotal", "txt_qtotal", "Q Total (%)", "", abastecimento.carga, false, "battery-full")         
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "custo", "txt_custo", "Custo", "", abastecimento.custo, true, "coins")
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "odometro", "txt_odometro", "Odómetro", "", abastecimento.odometro, true, "tachometer")
        .row
            .col-12.bg-black.bg-danger
                h4.panel-heading.text-center Início do abastecimento
        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-4
                +awsme_input("date", "dini", "date_dini", "dia", "", abastecimento.d_ini, true, "calendar") 
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("time", "hini", "time_hini", "hora", "", abastecimento.h_ini, true, "clock") 
            .col-xs-12.col-sm-12.col-md-3.col-lg-4
                +awsme_input("text", "txtqini", "txt_qini", "Q (%) ", "", abastecimento.q_ini, true, "bolt")
        .row
            .col-12.bg-danger
                    h4.panel-heading.text-center Fim do abastecimento
        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-4
                +awsme_input("date", "dfim", "date_dfim", "dia", "", abastecimento.d_fim, true, "calendar") 
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("time", "hfim", "time_hfim", "hora", "", abastecimento.h_fim, true, "clock") 
            .col-xs-12.col-sm-12.col-md-3.col-lg-4
                +awsme_input("text", "qfim", "txt_qfim", "Q (%)", "", abastecimento.q_fim, true, "bolt")

mixin ficha_abastecimento_ev_c(turno)
    +awsme-panel-danger("Ficha de novo abastecimento", "charging-station") 
        .row
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "idturno", "txt_idturno", "Turno", "", abastecimento.id_turno, false, "people-arrows")
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "tempo", "txt_tempo", "Tempo Q", "tempo de carga", "", false, "hourglass-full")
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "qtotal", "txt_qtotal", "Q Total (%)", "carregamento", "", false, "battery-full")         
            .col-xs-12.col-sm-6.col-md-4.col-lg-3
                +awsme_input("text", "custo", "txt_custo", "Custo", "custo do carregamento", "" , true, "coins")
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "odometro", "txt_odometro", "Odómetro", "leitura do odómetro", "", true, "tachometer")
        .row
            .col-12.bg-black.bg-danger
                h4.panel-heading.text-center Início do abastecimento
        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-4
                +awsme_input("date", "dini", "date_dini", "dia", "dia", "", true, "calendar") 
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("time", "hini", "time_hini", "hora", "hora", "", true, "clock") 
            .col-xs-12.col-sm-12.col-md-3.col-lg-4
                +awsme_input("text", "txtqini", "txt_qini", "Q (%) ", "% carga inicial", "", true, "bolt")
        .row
            .col-12.bg-danger
                h4.panel-heading.text-center Fim do abastecimento
        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-4
                +awsme_input("date", "dfim", "date_dfim", "dia", "dia", "", false, "calendar") 
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("time", "hfim", "time_hfim", "hora", "hora", "", false, "clock") 
            .col-xs-12.col-sm-12.col-md-3.col-lg-4
                +awsme_input("text", "qfim", "txt_qfim", "Q (%)", "% carga final", "", false, "bolt")

mixin ficha_abastecimento_mt_c(turno)
    +awsme-panel-danger("Ficha de abastecimento  ", "gas-pump") 
        .row
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                +awsme_input("text", "idturno", "id_turno", "turno", "", turno.id_turno, false, "people-arrows")
        .row
            .col-xs-12.col-sm-12.col-md-7.col-lg-6
                +awsme_input("date", "datedata", "date_data", "dia", "dia", "", true, "calendar")             
            .col-xs-12.col-sm-12.col-md-5.col-lg-6
                +awsme_input("time", "timehora", "time_hora", "hora", "hora", "", true, "clock")
        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-6
                +awsme_input("text", "odometro", "txt_odometro", "odómetro", "odómetro", "", true, "tachometer")
 
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "litros", "txt_litros", "quantidade (L)", "quantidade abastecida", "", true, "gas-pump")
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "custo", "txt_custo", "custo (€)", "custo do abastecimento", "", true, "coins")

mixin ficha_viatura_u(dados)
    +panel-danger("Ficha da viatura id: " + dados.id_viatura)
        .row
            .col-xs-12.col-lg-12
                +yacheckbox("estado", "Ativa", "chk_estado", dados.ativa, true)
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +yacheckbox("ev", "Elétrica", "chk_ev", dados.ev, true)
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                if dados.ev
                    +awsme_input("text", "q_bateria", "txt_qbateria", "Bat (KWH)", "q_bateria", dados.q_bateria, true, "battery")
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "matricula", "txt_matricula", "Matrícula", "matricula", dados.matricula, true, "car")
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "odometro", "txt_odometro", "Odometro:", "odometro", dados.odometro, true, "tachometer") 
        .row       
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                +awsme_input("text", "descricao", "txt_descricao", "Descrição da viatura", "descrição", dados.descricao_viatura, true, "clipboard")
                    +yainput("text", "txt_q_bateria", "q_bateria", "Bat(KWH):", "q_bateria", dados.q_bateria, true)
        .row 
            .col-sm-8.col-lg-8
                +yainput("text", "txt_descricao", "descricao", "Descrição:", "descrição", dados.descricao_viatura, true)
            .col-sm-4.col-lg-4.container-fluid
                +yainput("text", "txt_odometro", "odometro", "Odometro:", "odometro", dados.odometro, true)
        .row
            .col-sm-6.col-lg-6
                +awsme_input("text", "ultima_manutencao", "txt_ultimamanutencao", "Última manutenção", "última manutenção", '', false, "tools")  
            .col-sm-6.col-lg-6
                +awsme_input("text", "proxima_manutencao", "txt_proximamanutencao", "Próxima manutenção", "próxima manutenção", '', false, "tools")

mixin ficha_viatura_c()
    +panel-danger("Registo de nova viatura")
        .row
            .col-xs-12.col-lg-12
                +yacheckbox("estado", "Ativa", "chk_estado", true, true)
        .row  
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +yacheckbox("ev", "Elétrica", "chk_ev", false, true)
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "q_bateria", "txt_qbateria", "Bat (KWH)", "q_bateria", '', false, "battery")
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "matricula", "txt_matricula", "Matrícula", "matricula", '', true, "car")
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "odometro", "txt_odometro", "Odometro:", "odometro", '', true, "tachometer")
        .row 
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                +awsme_input("text", "descricao", "txt_descricao", "Descrição", "descrição", '', true, "clipboard")
        .row
            .col-sm-6.col-lg-6
                +awsme_input("text", "ultima_manutencao", "txt_ultimamanutencao", "Última manutenção", "última manutenção", '', false, "tools")  
            .col-sm-6.col-lg-6
                +awsme_input("text", "proxima_manutencao", "txt_proximamanutencao", "Próxima manutenção", "próxima manutenção", '', false, "tools")

mixin ficha_viatura(dados)
    +panel-info("Ficha da viatura id: " + dados.id_viatura)
        .row
            .col-xs-12.col-lg-12
                +yacheckbox("estado", "Ativa", "chk_estado", dados.ativa, false)
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +yacheckbox("ev", "Elétrica", "chk_ev", dados.ev, false)
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                if dados.ev
                    +awsme_input("text", "q_bateria", "txt_qbateria", "Bat (KWH)", "q_bateria", dados.q_bateria, false, "battery")
        .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "matricula", "txt_matricula", "Matrícula", "matricula", dados.matricula, false, "car")
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                +awsme_input("text", "odometro", "txt_odometro", "Odometro:", "odometro", dados.odometro, false, "tachometer") 
        .row       
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                +awsme_input("text", "descricao", "txt_descricao", "Descrição da viatura", "descrição", dados.descricao_viatura, false, "clipboard")
        .row
            .col-sm-6.col-lg-6
                +awsme_input("text", "ultima_manutencao", "txt_ultimamanutencao", "Última manutenção", "última manutenção", '', false, "tools")  
            .col-sm-6.col-lg-6
                +awsme_input("text", "proxima_manutencao", "txt_proximamanutencao", "Próxima manutenção", "próxima manutenção", '', false, "tools")
 
mixin ficha_condutor_c()
    - let d = new Date(Date.now())
    - let dn = d.toISOString().substring(0,10)
    +panel-danger("Registo de novo condutor")
        .row 
            .col-xs-12.col-lg-12.placeholder-10
                +yacheckbox("estado", "Ativo", "chk_estado", true, true)
        .row 
            .col-xs-12.col-sm-12.col-md-12.col-lg-6
                +awsme_input("text", "nome", "txt_nome", "Nome", "nome do condutor", "", true, "signature")
            .col-xs-6.col-sm-6.col-md-6.col-lg-3
                +awsme_input("text", "nif", "txt_nif", "NIF", "123456789", "", true, "excel")
            .col-xs-6.col-sm-6.col-md-6.col-lg-3
                +awsme_input("text", "telefone", "txt_telefone", "Telefone", "999999999", "", true, "phone") 
        .row 
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("text", "email", "txt_email", "@mail", "@email", "", true, "at")
            .col-xs-6.col-sm-6.col-md-4.col-lg-4
                +awsme_input("date", "entrada", "date_entrada", "Entrada em", "", dn , true, "calendar") 
            .col-xs-6.col-sm-6.col-md-4.col-lg-4
                +awsme_input("text", "kmsfeitos", "txt_kmsfeitos", "Kms feitos", "9999 kms", "", true, "road")

mixin ficha_condutor(dados)
    +panel-info("Ficha do condutor id: " + dados.id_condutor)
        .row 
            .col-xs-12.col-lg-12.placeholder-10
                +yacheckbox("estado", "Ativo", "chk_estado", dados.ativo, false)
        .row 
            .col-xs-12.col-sm-12.col-md-12.col-lg-6
                +awsme_input("text", "nome", "txt_nome", "Nome", "nome do condutor", dados.nome_condutor, false, "signature")
            .col-xs-6.col-sm-6.col-md-6.col-lg-3
                +awsme_input("text", "nif", "txt_nif", "NIF", "123456789", dados.nif, false, "excel")
            .col-xs-6.col-sm-6.col-md-6.col-lg-3
                +awsme_input("text", "telefone", "txt_telefone", "Telefone", "999999999", dados.telefone_condutor, false, "phone") 
        .row 
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("text", "email", "txt_email", "@mail", "@email", dados.email_condutor, false, "at")
            .col-xs-6.col-sm-6.col-md-4.col-lg-4
                +awsme_input("date", "entrada", "date_entrada", "Entrada em", "", dados.data_entrada , false, "calendar") 
            .col-xs-6.col-sm-6.col-md-4.col-lg-4
                +awsme_input("text", "kmsfeitos", "txt_kmsfeitos", "Kms feitos", "9999 kms", dados.kms_feitos, false, "road")

mixin ficha_condutor_u(dados)
    +panel-danger("Ficha do condutor id: " + dados.id_condutor)
        .row 
            .col-xs-12.col-lg-12.placeholder-10
                +yacheckbox("estado", "Ativo", "chk_estado", dados.ativo, true)
        .row 
            .col-xs-12.col-sm-12.col-md-12.col-lg-6
                +awsme_input("text", "nome", "txt_nome", "Nome", "nome do condutor", dados.nome_condutor, true, "signature")
            .col-xs-6.col-sm-6.col-md-6.col-lg-3
                +awsme_input("text", "nif", "txt_nif", "NIF", "123456789", dados.nif, true, "excel")
            .col-xs-6.col-sm-6.col-md-6.col-lg-3
                +awsme_input("text", "telefone", "txt_telefone", "Telefone", "999999999", dados.telefone_condutor, true, "phone") 
        .row 
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("text", "email", "txt_email", "@mail", "@email", dados.email_condutor, true, "at")
            .col-xs-6.col-sm-6.col-md-4.col-lg-4
                +awsme_input("date", "entrada", "date_entrada", "Entrada em", "", dados.data_entrada , true, "calendar") 
            .col-xs-6.col-sm-6.col-md-4.col-lg-4
                +awsme_input("text", "kmsfeitos", "txt_kmsfeitos", "Kms feitos", "9999 kms", dados.kms_feitos, false, "road")

mixin ficha_turno(turno)
    +awsme-panel-primary("Ficha de turno " + turno.id_turno, "people-arrows")
        .row
            .col-xs-12.col-lg-4
                +awsme_input("text", "condutor", "txt_condutor", "Condutor", "", turno.nome_condutor, false, "user")
            .col-xs-12.col-lg-4
                +awsme_input("text", "viatura", "txt_viatura", "Viatura", "", turno.descricao_viatura, false, "car")
            .col-xs-12.col-lg-2
                +awsme_input("text", "kms", "txt_kms", "Kms", 'kms', turno.kms_percorridos, false, "tachometer")
            .col-xs-12.col-lg-2
                +awsme_input("text", "horas_conducao", "txt_horasconducao", "Tempo", "", turno.horas_conducao, false, "clock")
        .row
            .col-12.bg-black.bg-primary
                h4.panel-heading.text-center Início do turno
        .row
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("date", "dataini", "data_ini", "dia", "", turno.d_ini, false, "calendar_day_sol")
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("time", "horaini", "hora_ini", "hora", "", turno.h_ini, false, "hourglass_start")
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("text", "txtodoini", "txt_odoini", "odómetro", "", turno.odom_ini, false, "tachometer")
        .row
            .col-12.bg-black.bg-primary
                h4.panel-heading.text-center Fim do turno
        .row
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("date", "datafim", "data_fim", "dia", "", turno.d_fim, false, "calendar")
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("time", "horafim", "hora_fim", "hora", "", turno.h_fim, false, "hourglass_end")
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("text", "odofim", "txt_odofim", "odómetro", "", turno.odom_fim, false, "tachometer")

mixin ficha_turno_u(turno)
    +panel-danger("Ficha do turno id: " + turno.id_turno)  
        .row
            .col-xs-12.col-lg-4
                +awsme_input("text", "condutor", "txt_condutor", "condutor", "", turno.nome_condutor, false, "user")
            .col-xs-12.col-lg-4
                +awsme_input("text", "viatura", "txt_viatura", "viatura", "", turno.descricao_viatura, false, "car")
            .col-xs-12.col-lg-2
                +awsme_input("text", "kms", "txt_kms", "Kms", 'kms', turno.kms_percorridos, false, "tachometer")
            .col-xs-12.col-lg-2
                +awsme_input("text", "horas_conducao", "txt_horasconducao", "tempo", "", turno.horas_conducao, false, "clock")
        .row
            .col-12.bg-black.bg-danger
                h4.panel-heading.text-center Início do turno
        .row
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("date", "dataini", "data_ini", "início", "", turno.d_ini, true, "calendar")
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("time", "horaini", "hora_ini", "hora", "", turno.h_ini, true, "hourglass_start")
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("text", "txtodoini", "txt_odoini", "odo ini", "", turno.odom_ini, true, "tachometer")
        .row
            .col-12.bg-black.bg-danger
                h4.panel-heading.text-center Início do turno
        .row
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("date", "datafim", "data_fim", "fim", "", turno.d_fim, true, "calendar")
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
                +awsme_input("time", "horafim", "hora_fim", "hora", "", turno.h_fim, true, "hourglass_end")
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                +awsme_input("text", "txtodofim", "txt_odofim", "odo fim", "", turno.odom_fim, true, "tachometer")

mixin ficha_turno_c(dia_now, hora_now)
    +awsme-panel-danger("Ficha de novo turno", "people-arrows")  
        .row
            .col-xs-12.col-lg-12
                +awsme_input("text", "condutor", "txt_condutor", "condutor", "utilizador com sessão", "", false, "user")
        .row
            .col-xs-12.col-lg-6
                +awsme_input("date", "btdataini", "bt_dataini", "início", "", dia_now, true, "calendar")
            .col-xs-12.col-lg-6
                +awsme_input("time", "bthoraini", "bt_horaini", "hora", "", hora_now, true, "hourglass_start")
        .row 
            .col-xs-12.col-lg-6
                +awsme_dropdown("ddviatura","dd_viatura","viatura", viaturas, true, "car")
            .col-xs-12.col-lg-6
                +awsme_input("text", "txtodoini", "txt_odoini", "odo ini", "", "", true, "tachometer")

mixin ficha_faturacao_turno(dados)
    +panel-info("Ficha de faturação do turno id: " + dados.id_turno)  
        .row
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
                +yainput("text", "txt_f_u", "f_u", "Uber:", 'faturacao_uber', dados.f.u, "disabled")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
                +yainput("text", "txt_f_b", "f_b", "Bolt:", 'faturacao_bolt', dados.f.b, "disabled")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
                +yainput("text", "txt_f_f", "f_f", "Freenow:", 'faturacao_freenow', dados.f.f, "disabled")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3 
                +yainput("text", "txt_total_faturacao", "total_faturacao", "Total:", 'total_faturacao', dados.tf, "disabled")

mixin ficha_gratificacao_turno(dados)
    +panel-info("Ficha de gratificação do turno id: " + dados.id_turno)  
        .row
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
                +yainput("text", "txt_g_u", "g_u", "Uber:", 'gratificacao_uber', dados.g.u, "disabled")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
                +yainput("text", "txt_g_b", "g_b", "Bolt:", 'gratificacao_bolt', dados.g.b, "disabled")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
                +yainput("text", "txt_g_f", "g_f", "Freenow:", 'gratificacao_freenow', dados.g.f, "disabled")
            .col-xs-6.col-sm-6.col-md-3.col-lg-3
                +yainput("text", "txt_total_gratificacao", "total_gratificacao", "Total:", 'total_gratificacao', dados.tg, "disabled")
