include icons
//- Input control with form-group wrapper

mixin input_file(rota, id, nome, label, titulo, estado)
    +panel-danger(titulo)
        .row
            .col.placeholder
                .text-center
                    if rota == "/Viatura/C"
                        img.img-responsive.fa.fa-8x.fa-solid.fa-car(id="img_viatura" src='' alt=f1b9 placeholder="&#xf1b9")
                    if rota == "/Condutor/C"
                        img.img-responsive.fa.fa-8x.fa-solid.fa-user(id="img_condutor" src='' alt=e1b8 placeholder="&#xe1b8")
                    p 
                    input.invisible(type="file" name=nome id=id)
                    label.btn.btn-danger(for=id) #{label} 
                .pull-right id: &nbsp;

mixin input_data(id, name, label, valor, estado )
    label(for=id) #{label}
    .input-group.mb-5
        .input-group-addon
            .fa.fa-solid.fa-calendar-check
        input.form-control(type="date", id=id, name=name, value=valor, disabled=estado)

mixin input_hora(id, name, label, valor, estado )
    label(for=id) #{label}
    .input-group.mb-5
        .input-group-addon
            .fa.fa-solid.fa-hourglass-start
        input.form-control(type="time", id=id, name=name, value=valor, disabled=estado)

mixin input_datetime(id, label, valor, start_end, nome, estado)
    label(for=id) #{label}
    .input-group.mb-5
        .input-group-addon
            if start_end == "start"
                .fa.fa-solid.fa-hourglass-start
            else if start_end == "end"
                .fa.fa-solid.fa-hourglass-end
        input.form-control(type="datetime-local", id=id, value=valor, name=nome, disabled=estado)

mixin awsme_input(tipo, id, nome, label, placeholder, valor, estado, awsme)
    .form-group
        label(for=id) #{label}
        .input-group
            .input-group-addon
                +awsme(awsme)
            if(estado)
                input.form-control(type=tipo, id=id, placeholder=placeholder, name=nome, value=valor)
            else
                input.form-control(type=tipo, id=id, placeholder=placeholder, name=nome, value=valor, disabled)

mixin yainput(tipo, id, nome, label, placeholder, valor, estado)
    .form-group
        label(for=id) #{label}
        if(estado==true)
            input.form-control(type=tipo, id=id, name=nome, placeholder=placeholder, value=valor)
        else
            input.form-control(type=tipo, id=id, name=nome, placeholder=placeholder, value=valor, disabled)

//- Simple form input control without a form-group
mixin yainput-simple(type,id,placeholder,name)
    input.form-control(type=type,id=id,placeholder=placeholder,name=name)

//- Checkbox - Block style
mixin yacheckbox(id, label, name, valor, enabled)
        label.container_chk
            if (!enabled) 
                input(type="checkbox", id=id, label=label, name=name, checked=valor, disabled)
            else
                input(type="checkbox", id=id, label=label, name=name, checked=valor)
            span.checkmark
            = label

//- Checkbox - Inline style
mixin yacheckbox-inline(id, label, name, valor, enabled)
    .checkbox-inline
        if (!enabled) 
            input(type="checkbox", id=id, label=label, name=name, checked=valor, disabled)
        else
            input(type="checkbox", id=id, label=label, name=name, checked=valor)
        = label

//- Radio box
mixin yaradio(text,name,id)
    .radio
        label
            input(type="radio",name=name,id=id)
            = text

//- Radio box - Inline style
mixin yaradio-inline(text,name,id)
    .radio-inline
        input(type="radio",name=name,id=id)
        = text

//- Submit button
mixin yasubmit(text,name,id)
    .form-group
        button.btn.btn-default(type="submit",name=name,id=id)= text

//- Input group - both prepend and append options available, and block is passed
mixin yainput-group(prepend,append)
    .form-group
        .input-group
            unless !prepend
                .input-group-addon
                    = prepend
                block
                unless !append
                    .input-group-addon
                        = append

//- Icon button
mixin yaicon-btn(icon)
    button.btn.btn-default(type="button",aria-label=icon)
        +icon(icon)

//- Badges
mixin yabadge(text)
    span.badge= text
