mixin lista_de_manutencoes(viaturas)
    h3.text-center Manutenções &nbsp;
        .i.fa.fa-solid.fa-tools
    .table-responsive 
        table.table.table-striped.table-hover
            thead 
                tr 
                        th.small.text-right id 
                        th.small.text-right viatura 
                        th.small.text-right data 
                        th.small.text-right kms
                        th.small.text-right custo
                        th.small.text-right descrição
                        th.small.text-right oficina
            tbody 
                each viatura in viaturas
                    each manutencao in viatura.manutencoes  
                        tr.table-row 
                            td.small.text-right 
                                +a-btn-block(`/Manutencao/${viatura.id_viatura}/${manutencao.id_manutencao}`, manutencao.id_manutencao,"tools","info","xs")
                            td.small.text-right 
                                +a-btn-block(`/Viatura/${viatura.id_viatura}`, viatura.matricula,"car","primary","xs")
                            td.small.text-right #{manutencao.data}
                            td.small.text-right #{manutencao.kms}
                            td.small.text-right #{manutencao.custo}
                            td.small.text-right #{manutencao.descricao}
                            td.small.text-right #{manutencao.oficina}

mixin lista_de_manutencoes_viatura(viatura, manutencoes)
    +panel-info("Histórico de manutenções da viatura " + viatura.id_viatura)
        .table-responsive 
            table.table.table-striped.table-hover
                thead 
                    tr 
                        th.small.text-right id 
                        th.small.text-right data 
                        th.small.text-right kms
                        th.small.text-right custo
                        th.small.text-right descrição
                        th.small.text-right oficina
                tbody 
                    each manutencao in manutencoes 
                        tr.table-row 
                            td.small.text-right 
                                +a-btn-block(`/Manutencao/${viatura.id_viatura}/${manutencao.id_manutencao}`, manutencao.id_manutencao,"tools","info","xs")
                            td.small.text-right #{manutencao.data}
                            td.small.text-right #{manutencao.kms}
                            td.small.text-right #{manutencao.custo}
                            td.small.text-right #{manutencao.descricao}
                            td.small.text-right #{manutencao.oficina}

