mixin snipet_condutor(condutor)
    a(href="/Condutor/"+condutor.id_condutor)
        +panel-info(condutor.nome_condutor)
            .text-center 
                img.img-responsive(src=condutor.imagem_condutor, alt=condutor.nome_condutor)
            .pull-right id: #{condutor.id_condutor} &nbsp;

mixin snipet_viatura(viatura)
    a(href="/Viatura/"+ viatura.id_viatura)
        +panel-info(viatura.matricula)
            .text-center 
                img.img-responsive(src=viatura.imagem_viatura, alt=viatura.matricula)
            .pull-right id: #{viatura.id_viatura} &nbsp;