.container-fluid 
    .row
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h2.page-header=title+" - "+sub_title
                .pull-right
                    +a-btn-back()
            .row
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                    +panel-danger("Viatura: " + viatura.matricula)
                        .row
                            .col.placeholder 
                                .text-center
                                    img.img-responsive(src=viatura.imagem_viatura, alt=viatura.descricao_viatura)
                                    p 
                                    a.btn.btn-danger(href='/Viatura/U/'+viatura.id_viatura, role='button') Carregar imagem
                                .pull-right id: #{viatura.id_viatura} &nbsp;
                .col-xs-12.col-sm-12.col-md-8.col-lg-9.placeholder
                    +ficha_viatura_u(viatura)
                    .container-fluid
                        .row
                            .col.placeholder-10
                                +a-btn-block(`/Viatura/U/${viatura.id_viatura}`,"Atualizar ficha da viatura","edit","danger")
                                +a-btn-block-back()
            .row 
                .col-xs-12.col-lg-6
                    +lista_de_manutencoes_viatura(viatura, manutencoes)
                .col-xs-12.col-lg-6
                    +lista_de_abastecimentos_viatura(titulos, viatura, abastecimentos)
            .row 
                .col-xs-12.col-lg-12

            .row.placeholders
                .col-sm-12.col-md-4.placeholder
                    .text-center
                        //- include ./_tabela_odometragens

                .col-sm-12.col-md-8.placeholder
                    .text-center
                        //- include ./_tabela_revisoes