.container-fluid
    .row
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h2.page-header=title+" - "+sub_title
                .pull-right
                    +a-btn-back()
            .row
                .col-xs-12.col-sm-12.col-md-4.col-lg-3
                    +panel-danger(condutor.nome_condutor)
                        .row
                            .col-xs-12.placeholder 
                                .text-center
                                    img.img-responsive(src=condutor.imagem_condutor, alt=condutor.nome_condutor)
                                    p 
                                    a.btn.btn-danger(href='/Condutor/U/'+condutor.id_condutor, role='button') Procurar ficheiro
                                .pull-right id: #{condutor.id_condutor}
                .col-xs-12.col-sm-12.col-md-8.col-lg-9.placeholder
                    .row 
                        +ficha_condutor_u(condutor)
                        .row
                            .col.placeholder-10
                                .container-fluid
                                    +a-btn-block(`/Condutor/U${condutor.id_condutor}`, "Registar atualização da ficha do condutor", "save", "danger")
                                    +a-btn-block-back()  
                        .row 
                            .col 
                                +resumo_faturacao(condutor, faturacao_total)
            .row
                .col
                    +turnos_condutor(condutor, turnos)
