.container-fluid
    .row
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h2.page-header=title+" - "+sub_title
                .pull-right
                    +a-btn-back()
            div(id="div_alert")
            .row 
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.placeholder
                    .panel.panel-info 
                        .panel-heading 
                            h3.panel-title=viatura.n_r
                                .pull-right=`id: ${viatura._id}` 
                        .panel-body
                            form(id="frm_viatura_r" name="frmViatura" action=`/viaturas/${viatura._id}` method="POST" enctype="multipart/form-data" disabled)
                                .row 
                                    .col-xs-12.col-sm-12.col-md-4.col-lg-3.placeholder
                                        .text-center 
                                            img.img-responsive(id="img_foto" name="imgFoto" src=`/fotos/viaturas/${viatura.foto}` title=viatura.n_r)
                                            p &nbsp;
                                        div(id="lbl_input_file_disabled" style="display:block")
                                            .input-group
                                                .input-group-addon
                                                    .fa.fa-file.fa-sm &nbsp;&nbsp;
                                                label.btn.btn-info.btn-block(id="lbl_fn_disabled" name="lblFNDisabled" title="selecionar ficheiro com foto atualizada" disabled) #{viatura.foto}

                                        div(id="lbl_input_file_enabled" style="display:none")
                                            .input-group
                                                .input-group-addon
                                                    .fa.fa-file.fa-sm &nbsp;&nbsp;
                                                label.btn.btn-info.btn-block(id="lbl_file_name" name="lblFileName" for="inp_file_img" title="selecionar ficheiro com foto atualizada") #{viatura.foto}

                                        input.visuallyhidden(type="text" id= "txt_file_name_H" name="fileNameH" value=viatura.foto )
                                        input.visuallyhidden(type="file" id="inp_file_img" name="inpFileImg" accept="image/*") 
                                    .col-xs-12.col-sm-12.col-md-8.col-lg-9
                                        .row 
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                label.container_chk(for="chk_ativa")
                                                    input(type="checkbox" id="chk_ativa" name="chkAtiva" checked=viatura.ativa disabled)
                                                    .checkmark
                                                    | ativa
                                        .row 
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                label.container_chk(for="chk_ev")
                                                    input(type="checkbox" id="chk_ev" name="chkEv" checked=viatura.ev disabled)
                                                    .checkmark
                                                    | ev
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                .form-group 
                                                    label(for="txt_qbateria") bateria (Kwh)
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("battery")
                                                        input.form-control(type="text" id="txt_qbateria" name="qbateria" value=viatura.q_b disabled)
                                        .row 
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                .form-group
                                                    label(for="txt_matricula") matrícula
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("car")
                                                        input.form-control(type="text" id="txt_matricula" name="matricula" value=viatura.n_r disabled)
                                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                                .form-group 
                                                    label(for="txt_odometro") odómetro
                                                    .input-group
                                                        .input-group-addon 
                                                            +awsme("tachometer")
                                                        input.form-control(type="text" id="txt_odometro" name="odometro" value=viatura.odo disabled)
                                        .row 
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12 
                                                .form-group
                                                    label(for="txt_descricao") descrição
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("clipboard")
                                                        input.form-control(type="text" id="txt_descricao" name="descricao" value= viatura.desc disabled)
                                        .row 
                                            .col-xs-6.col-sm-6.col-md-6.col-lg-6 
                                                .form-group 
                                                    label(for="txt_ultima_manutencao") última manutenção
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("tools")
                                                        input.form-control(type="text" id="txt_ultima_manutencao" placeholder="última manutenção" name="ultimaManutencao" value= "" disabled)
                                            .col-xs-6.col-sm-6.col-md-6.col-lg-6 
                                                .form-group
                                                    label(for="txt_proxima_manutencao") próxima manutenção
                                                    .input-group 
                                                        .input-group-addon 
                                                            +awsme("tools")
                                                        input.form-control(type="text" id="txt_proxima_manutencao" name="proximaManutencao" placeholder="próxima manutenção" value= "" disabled)
                                .row
                                    .col-xs-12.col-sm-12.col-md-4.col-lg-3.placeholder
                                        button.btn.btn-warning.btn-block(id="bt_atualizar_foto" type="button" title="selecionar e carregar ficheiro com foto atualizada")
                                            +awsme("edit")
                                            | &nbsp;atualizar foto da viatura

                                    .col-xs-12.col-sm-12.col-md-8.col-lg-9
                                        button.btn.btn-block.btn-warning(id="bt_atualizar_dados" name="btAtualizarDados" type="button")
                                            +awsme("edit")
                                            | &nbsp;&nbsp; atualizar dados da viatura
                                        br
                                        div(id="foto_updt_button_set" style="display:none")
                                            button.btn.btn-danger.btn-block(id="bt_submit_foto" type="button" title="carregar o ficheiro para atualização da foto")
                                                +awsme("file-up")
                                                | &nbsp;atualizar foto da viatura
                                            a.btn.btn-success.btn-block(id="bt_back_foto" href=`/viaturas/${viatura._id}` type="button" title="cancelar")
                                                +awsme("back")
                                                | &nbsp; cancelar
                                        div(id="dados_updt_button_set" style="display:none")
                                            button.btn.btn-danger.btn-block(id="bt_submit_dados" type="button" title="atualizar dados")
                                                +awsme("save")
                                                | &nbsp; atualizar dados da viatura
                                            a.btn.btn-success.btn-block(id="bt_back_dados" href=`/viaturas/${viatura._id}` type="button" title="sair do modo atualização de dados")
                                                +awsme("back")
                                                | &nbsp; cancelar       